In [1]:
# Dependencies
import pandas as pd

In [2]:
# Read in csv file as DataFrame
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [3]:
# Filter previous DataFrame to create new where total_votes count is equal to or greater than 20
total_votes_df = vine_df[vine_df["total_votes"] >= 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [4]:
# Filter previous DataFrame to create new where number of helpful_votes divided by total_votes is equal to or greater than 50%
helpful_votes_df = total_votes_df[total_votes_df["helpful_votes"] / total_votes_df["total_votes"] >= 0.5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [5]:
# Filter previous DataFrame to create new where review was written as part of Vine program (paid)
paid_review_df = helpful_votes_df[helpful_votes_df["vine"] == 'Y']
paid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N

In [6]:
# Create new DataFrame where review was not part of Vine program (unpaid)
unpaid_review_df = helpful_votes_df[helpful_votes_df["vine"] == 'N']
unpaid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [7]:
# Total number of paid reviews
total_paid = paid_review_df["review_id"].count()
total_paid

170

In [8]:
# Number of 5-star paid reviews
paid_5_star = paid_review_df[paid_review_df["star_rating"] == 5].count()["review_id"]
paid_5_star

65

In [9]:
# Percentage of 5-star paid reviews
paid_5_star_percentage = paid_5_star / total_paid * 100
paid_5_star_percentage

38.23529411764706

In [10]:
# Total number of unpaid reviews
total_unpaid = unpaid_review_df["review_id"].count()
total_unpaid

37840

In [11]:
# Number of 5-star unpaid reviews
unpaid_5_star = unpaid_review_df[unpaid_review_df["star_rating"] == 5].count()["review_id"]
unpaid_5_star

20612

In [12]:
# Percentage of 5-star unpaid reviews
unpaid_5_star_percentage = unpaid_5_star / total_unpaid * 100
unpaid_5_star_percentage

54.471458773784356